.App {
  text-align: center;
}
body{
  background: #282c34;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h4{
  color:#61dafb;
}
li{
  color: white;
}
p{
  color: bisque;
}
.card{
  width: 300px;
  height: 300px;
  margin:15px;
  border:1px solid white
}
.cardImgs{
  width: 150px;
  height: 150px;
  border: 5px #61dafb ;
}
.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s cubic-bezier(0.895, 0.03, 0.685, 0.22)
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
